<div class="container">
  <h2>Post project</h2>

  <form [formGroup]="projectForm">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Title</mat-label>
      <input matInput type="text" placeholder="Title" formControlName="title" />
      <mat-error *ngIf="projectForm.get('title')?.hasError('required')"
        >This input is required!</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        type="text"
        placeholder="Description"
        formControlName="description"
      ></textarea>
      <mat-error *ngIf="projectForm.get('description')?.hasError('required')"
        >This input is required!</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Due date</mat-label>
      <input
        matInput
        [matDatepicker]="dueDatePicker"
        placeholder="Choose a date"
        formControlName="dueDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="dueDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #dueDatePicker></mat-datepicker>
      <mat-error *ngIf="projectForm.get('dueDate')?.hasError('required')"
        >This input is required!</mat-error
      >
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="projectForm.invalid"
      (click)="postProject()"
    >
      Post project
    </button>
  </form>
</div>
