<form class="search-form" [formGroup]="searchForm">
  <mat-form-field appearance="outline" class="search-input">
    <mat-label>Enter keyword to search</mat-label>
    <input matInput formControlName="title" (input)="searchTask()" />
  </mat-form-field>
</form>

<button mat-raised-button color="primary" (click)="createTask()">
  Create New Task
</button>

<!--<div class="task-list">
  <mat-card class="task-card" *ngFor="let task of listOfTasks">
    <div class="task-details">
      <h2 class="task-name">{{ task.title }}</h2>
      <p class="task-description">{{ task.description }}</p>

      <mat-divider></mat-divider>

      <div class="task-info">
        <div class="info-row">
          <span class="info-label">Due Date:</span>
          <span class="info-value">{{ task.dueDate | date : "MMM d, y" }}</span>
        </div>
        <div class="info-row">
          <span class="info-label">Employee:</span>
          <span class="info-value">{{ task.employeeName }}</span>
        </div>
        <div class="info-row">
          <span class="info-label">Priority:</span>
          <span class="info-value">{{ task.priority }}</span>
        </div>
        <div class="info-row">
          <span class="info-label">Status:</span>
          <span class="info-value">{{ task.status }}</span>
        </div>
      </div>
    </div>
  </mat-card>
</div>-->
